<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Registration Form</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
<form autocomplete="off" action="#" th:action="@{registro}" th:object="${user}" method="post" enctype="multipart/form-data">
    <h3>Registration Form</h3>
    <table>
        <tr>
            <td><input type="text" th:field="*{nome}" placeholder="Nome"/></td>
        </tr>
        <tr>
            <td><input type="text" id="cpf" th:field="*{cpf}" placeholder="Cpf"/></td>
        </tr>
        <tr>
            <td><input type="text" id="nasc" th:field="*{nasc}" placeholder="Nascimento"/></td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{end}" placeholder="Endereço"/></td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{email}" placeholder="Email"/></td>
        </tr>
        <tr>
            <td><input type="password" th:field="*{senha}" placeholder="Senha"/></td>
        </tr>
        <tr>
            <td><button type="submit" class="btn btn-primary">Cadastrar</button></td>
        </tr>
    </table>
    <div class="alert alert-danger" th:if="${(bindingResult != null && bindingResult.getAllErrors() != null)}">
        <p th:utext="${msg}"></p>
        <ul th:each="data : ${bindingResult.getAllErrors()}">
            <li th:text="${data.getDefaultMessage()}"></li>
        </ul>
    </div>
</form>
</div>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery.mask.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
